<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<link rel="stylesheet" type="text/css" href="{{cxtPath}}/resources/jslib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="{{cxtPath}}/resources/jslib/bootstrap/css/bootstrap-theme.min.css" />

<script type="text/javascript" src="{{cxtPath}}/resources/jslib/angularjs/angular.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{cxtPath}}/resources/jslib/bootstrap/bootstrap.min.js" charset="utf-8"></script>

<script type="text/javascript" src="{{cxtPath}}/resources/jslib/base64.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{cxtPath}}/resources/jslib/calendar/WdatePicker.js" charset="utf-8"></script>
<script type="text/javascript" src="{{cxtPath}}/resources/js/web-base.js" charset="utf-8"></script>
<script type="text/javascript" src="{{cxtPath}}/resources/js/func-binder.js" charset="utf-8"></script>
<script type="text/javascript" src="{{cxtPath}}/resources/js/data-validator.js" charset="utf-8"></script>
<script type="text/javascript" src="{{cxtPath}}/resources/js/sample-base.js" charset="utf-8"></script>

</head>
</html>
